#clockbox {
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    color: white;
    padding: 50px;
	margin-top: 10vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
	text-align: center;
}

#weatherbox {
	color: white;
	font: 'Roboto', sans-serif;
	border-radius: 5px;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
	padding: 10px;
	display: inline-block;
}

#refreshButt {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
}

#weatherCont{
	position: absolute;
	top: 5px;
	right: 5px;
}

#weatherbox h1 {
	display: inline-block;
	font-size: 40px;
	margin: 10px;
	float: right;
}

#weatherbox h2 {
	margin: 5px;
}

#icon {
	filter: invert(1);
	display: inline-block;
	height: 70px;
}

body {
	background-size: cover;
	font-family: sans-serif;
}

a {
	color: white;
	font-size: 1.2em;
}

a:visited {
	color: white;
}

input, button {
	color: white;
	border-radius: 5px;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
	padding: 10px;
	margin: 5px;
	border: none;
	transition: .5s;
}

button:hover {
	background: rgba(255, 255, 255, .3);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ddd;
  opacity: 1; /* Firefox */
}

#todoButt {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#todo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 50vw;
	height: 50vh;
	border: none;
	border-radius: 5px;
}

#icon:hover + #weatherInfo {
	display: block;
}

#weatherInfo {
	display: none;
	color: black;
	background: white;
	position: absolute;
	top: 20px;
	left: 5px;
	border-radius: 5px;
	padding: 5px;
}

#backgroundInfo {
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 5px;
}

#backgroundCaption, #backgroundAuthor {
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);	
	margin: 4px;
}