/*
    This file is part of RagTab.

    RagTab is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    RagTab is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with RagTab. If not, see <https://www.gnu.org/licenses/>.
*/

#clockbox {
    font-family: 'Roboto', sans-serif;
    font-size: 7em;
    color: white;
    padding: 50px;
	margin-top: 10vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
	text-align: center;
}

#weatherbox, #countdownBox, #fireBox {
	color: white;
	font: 'Roboto', sans-serif;
	border-radius: 5px;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
	padding: 10px;
	transition: .5s;
}

units {
	font-weight: thin;
	font-size: 18px;
}

#weatherbox {
	display: none;
	margin-bottom: 5px;
}

#countdownBox, #fireBox {
	text-align: left;
	margin-bottom: 5px;
	float: right;
	display: none;
}

#fireBox {
	width: calc(100% - 20px);
}

#countdownBox {
	width: max-content;
}

#refreshButt {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
}

#weatherCont{
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right;
	width: 30vw;
}

#weatherCont h1 {
	display: inline-block;
	margin: 10px;
	float: right;
}

#weatherbox h2 {
	margin: 5px;
}

#icon, #fireIcon {
	filter: invert(1);
	display: inline-block;
	height: 70px;
}

body {
	background-size: cover;
	font-family: sans-serif;
	overflow: hidden;
	height: 100vh;
	background-position: center;
}

a {
	color: white;
	font-size: 1.2em;
}

a:visited {
	color: white;
}

input, button, select {
	color: white;
	border-radius: 5px;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
	padding: 10px;
	margin: 5px;
	border: none;
	transition: .5s;
}

button:hover {
	background: rgba(255, 255, 255, .3);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ddd;
  opacity: 1; /* Firefox */
}

#todoButt {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#todo {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: calc(50vw - 70px);
	height: 50vh;
	border: none;
	border-radius: 5px;
}

#hoverInfo {
	display: none;
	color: black;
	background: white;
	position: absolute;
	top: 20px;
	left: 5px;
	border-radius: 5px;
	padding: 5px;
	z-index: 5;
	width: max-content;
	transition: .5s ease opacity;
	pointer-events: none;
}

#backgroundInfo {
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 5px;
}

#backgroundCaption, #backgroundAuthor {
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);	
	margin: 4px;
}

.headingBanner {
	margin: 0px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	background: #fff3;
	font-size: 16pt;
}

h2 {
	font-size: 20pt;
}

.tdBubble {
	text-align: left
}

.tableIcon {
	width: 24px;
}

#settingsB {
	position: absolute;
	bottom: 5px;
	width: 100px;
	left: calc(50vw - 50px);
}

#settings {
	width: 100vw;
	height: 100vh;
	background: white;
	z-index: 2;
	position: absolute;
	top: 100vh;
	left: 0px;
	opacity: 0;
	transition-duration: .5s;
}

.settingBubble {
	margin: 10px auto 10px auto;
	width: 50vw;
	text-align: center;
	background: #eee;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.settingBubble h2, .settingBubble h3 {
	margin-bottom: 5px;
}

.settingBubble table h3, .settingBubble table .settingDesc {
	text-align: left;
}

.settingDesc {
	margin: 5px 0px 10px 0px;
}

.settingDesc a {
	color: #43c029;
	font-size: initial;
}

.settingsCol {
	width: 220px;
}

.settingBubble input, .settingBubble select {
	border: none;
	background: white;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .3);
	color: black;
	width: 180px;
}

.settingBubble input[type="checkbox"] {
	appearance: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .3);
	background: white;
}


.settingBubble input[type="checkbox"]:checked {
	box-shadow: 0px 0px 3px #43c029;
	background: #43c029;
}

.scrollCont {
	height: calc(100% - 60px);
	overflow-y: auto;
	padding: 30px;
}

#closeSettings {
	position: absolute;
	top: 5px;
	right: 5px;
}

#resetSettings {
	position: absolute;
	top: 5px;
	left: 5px;
}

#settings button {
	background: white;
	color: black;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

#location, #weatherData {
	display: none;
}

.loadingIcon {
	transform: rotate(0deg);
	animation: spin 1s infinite;
	height: 64px;
	margin: 20px 60px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
